<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="form-holder">
        <h3 class="mb-3">Register Form:</h3>
        <div class="input-holder">
          <label class="label" for="name">Name</label>
          <div class="d-flex">
            <i class="fa-solid fa-user form-icon"></i>
            <input
              #Name
              id="name"
              type="text"
              placeholder="Type Your name"
              name="name"
              formControlName="name"
              class="input"
            />
          </div>
        </div>
        <div
          class="alert alert-danger"
          [hidden]="name?.valid || name?.untouched"
        >
          <small *ngIf="name?.errors?.['required']">Name is required</small>
          <small *ngIf="name?.errors?.['minlength']"
            >Field is Too Short <b>At least 5</b>
          </small>
        </div>
        <div class="input-holder">
          <label class="label" for="email">Email</label>
          <div class="d-flex">
            <i class="fa-solid fa-envelope form-icon"></i>
            <input
              #Email
              id="email"
              type="text"
              placeholder="Type Your Email"
              name="email"
              formControlName="email"
              class="input"
            />
          </div>
        </div>
        <div
          class="alert alert-danger"
          [hidden]="email?.valid || email?.untouched"
        >
          <small *ngIf="email?.errors?.['required']">Email is required</small>
          <small *ngIf="email?.errors?.['email']"
            >email pattern must must match this<b>******@*****.com</b></small
          >
        </div>
        <div class="input-holder">
          <label class="label" for="password">Password</label>
          <div class="d-flex">
            <i class="fa-solid fa-lock form-icon"></i>
            <input
              #Password
              id="password"
              type="password"
              placeholder="Type Your password"
              name="password"
              formControlName="password"
              class="input"
            />
            <i
              class="fa-regular fa-eye mt-2"
              id="togglePassword"
              style="cursor: pointer"
              (click)="togglePassword()"
            ></i>
          </div>
        </div>
        <div
          class="alert alert-danger"
          [hidden]="password?.valid || password?.untouched"
        >
          <small *ngIf="password?.errors?.['required']"
            >Password is required</small
          >
          <small *ngIf="password?.errors?.['minlength']"
            >Field is Too Short <b>At least 5</b>
          </small>
        </div>
        <div class="input-holder">
          <label class="label" for="confirmPassword">Confirm Password</label>
          <div class="d-flex">
            <i class="fa-solid fa-lock form-icon"></i>
            <input
              #ConfirmPassword
              id="confirmPassword"
              type="password"
              placeholder="Type Your Password"
              name="confirmPassword"
              formControlName="confirmPassword"
              class="input"
            />
            <i
              class="far fa-eye mt-2"
              id="togglePassword"
              style="cursor: pointer"
              (click)="toggleConfirmPassword()"
            ></i>
          </div>
        </div>
        <div
          class="alert alert-danger"
          [hidden]="confirmPassword?.valid || confirmPassword?.untouched"
        >
          <small *ngIf="confirmPassword?.errors?.['required']"
            >Password Confirmation is required</small
          >
        </div>
        <div
          class="alert alert-danger"
          *ngIf="registerForm?.errors?.['unMatchedPasswords']"
        >
          Passwords Unmatch!!
        </div>
        <div class="input-holder">
          <label class="label" for="address">Address</label>
          <div class="d-flex">
            <i class="fa-solid fa-map-location form-icon"></i>
            <input
              #Address
              id="address"
              type="text"
              placeholder="Type Your Address"
              name="address"
              formControlName="address"
              class="input"
            />
          </div>
        </div>
        <div
          class="alert alert-danger"
          [hidden]="address?.valid || address?.untouched"
        >
          <small *ngIf="address?.errors?.['required']"
            >Address is required</small
          >
          <small *ngIf="address?.errors?.['minlength']"
            >Field is Too Short <b>At least 10</b>
          </small>
        </div>
        <button [disabled]="registerForm.invalid" class="btn w-100">
          Register
        </button>
        <div class="mt-3 text-center register-link">
          Already a User?
          <a routerLink="/">Login here</a>
        </div>
      </div>
    </div>
  </div>
</form>
