/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Poppins:wght@300;400;500;600;700&family=Quicksand&family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
html {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
